<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--add name="IVI_QueueControlSolution" connectionString="data Source=172.16.5.62;Initial Catalog=IVI_QueueControlSolution;User Id=ivr;Password=ivr;" /-->
    <add name="IVIDatabase" connectionString="data Source=SERGEYG;Initial Catalog=IVIEventsMonitor;User Id=sa;Password=AlmaAta3k;" />
  </connectionStrings>
  <appSettings>
    <add key="debug" value="true" />
    <add key="interval" value="30" />
    <!-- in sec -->
    <add key="duetime" value="3" />
    <!-- in sec -->
    <!-- cellact large account -->
    <add key="urlpost" value="http://la.cellactpro.com/unistart5.asp" />
    <add key="urlget" value="http://la.cellactpro.com/http_req.asp" />
    <add key="from" value="Tikshoovacco" />
    <add key="user" value="Tikshoovacco" />
    <add key="password" value="ccbb891" />
    <add key="sender" value="MACCABI" />
    <add key="content" value="Test SMS message הודעת סמס טסט" />

    <add key="vdn00" value="41202-41205"/>
    <add key="content00" value="Test00"/>
    <add key="vdn01" value="41214,41217-41219"/>
    <add key="content01" value="Test01"/>
    <add key="vdn02" value="41222"/>
    <add key="content02" value="Test02"/>

    <!--<add key="content" value="Test SMS message"/>-->
    <add key="getrequest" value="FROM={FROM}&amp;USER={USER}&amp;PASSWORD={PASSWORD}&amp;APP=LA&amp;CMD=sendtextmt&amp;SENDER={MSISDN}&amp;CONTENT={TEXT}&amp;TO={PHONENUMBER}&amp;SN=SMS&amp;MSGID={UCID}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\Logs\IVISMSService\logSms_%property{log4net:HostName}_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="15" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%logger.%method] %level - %message%newline%exception" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>